/* :root {
   Variables
} */

/* Setup website fonts */
/* @font-face {
     font-family:;
     src: url("./fonts/") format("woff2"),
          url("./fonts/") format("woff");
     font-weight:;
     font-display: swap;
}
 */

 *,
 *::before,
 *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 body {
 /*   font-family: ; */
  font-family: Arial, Helvetica, sans-serif;
   width: 100%;
   height: 100vh;
   background-color: #1F2937;
 }
 
 .converter {
    color: white;
    background-color: #6943FF;
    width: 100%;
    margin: 0 auto;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    padding: 1.5rem;
    gap: 1.5rem;
 }

 .converter label {
    font-weight:800;
 }

 #input {
  padding: 0.5rem;
  border-radius: 5px;
   width: 60%;
   background-color: #6943FF;
   color: white;
   font-size: 3rem;
   padding-left: 1.5rem;
   text-align: center;
   border: solid 2px #B295FF;
 }

 button {
   font-size: 1rem;
   border: none;
   border-radius: 5px;
   padding: 1rem 2rem;
 }

 .results {
  background-color: #1F2937;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  margin: 0 auto;
  padding: 1rem;
  gap: 0.5rem;
 }
 .result {
  color: white;
  background-color: #273549;
  margin: 0.5rem auto;
  text-align: center;
  padding: 1rem;
  line-height: 2rem;
 }
